-e git://github.com/fenhl/Python-IRC-Bot-Framework.git#egg=Python-IRC-Bot-Framework
TwitterAPI>=2.1.7.1
docopt>=0.6.1
-e git://github.com/wurstmineberg/init-minecraft.git#egg=minecraft
requests>=2.1.0
